<div *ngIf="Userview?.length > 0; else noUsers">
  <a routerLink="/adduser" class="orange btn">Add New User</a><br>
  <table class="striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>User Name</th>
        <th>Password</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of Userview">
        <td>{{user.name}}</td>
        <td>{{user.username}}</td>
        <td>{{user.password}}</td>
        <td><a (click)="deleteuser($event, user)">Delete</a></td>
        <td><a (click)="edituser($event, user)">Edit</a></td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noUsers>
  <h5>There are no Users to list</h5>
</ng-template>

