<div class="card">
  <div class="card-content">
    <span class="card-title">
      Add User
    </span>
    <form (ngSubmit)="onSubmit()" class="col s6">
      <div class="row">
        <div class="input-field col s4">
          <input type="text" placeholder="Add User" [(ngModel)]="User.name" name="name">
          <label>Name</label>
        </div>
        <div class="input-field col s4">
          <input type="text" placeholder="Add Username" [(ngModel)]="User.username" name="username">
          <label>User Name</label>
        </div>
        <div class="input-field col s4">
          <input type="text" placeholder="Add Password" [(ngModel)]="User.password" name="password">
          <label>Password</label>
        </div>
        <input type="submit" value="Submit" class="btn">
        <a class="brown btn" (click)='goback()'>Cancel</a>
      </div>
    </form>
  </div>
</div>